<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardNoticeMapper">
	
	<select id="listBoardNotice" parameterType="String" resultType="BoardNoticeVO">
		SELECT	notice_id
		,		member_id
		,		title
		,		content
		,		views
		,		date_of_created
		,		ip_of_created
		,		date_of_updated
		,		ip_of_updated
		,		member_id_of_updated
		,		status
		FROM	board_notice
		WHERE	status=#{status};
	</select>
	
	<insert id="insertBoardNotice">
		INSERT INTO board_notice (
			member_id,			title,					content,
			date_of_created,	ip_of_created,			date_of_updated,
			ip_of_updated,		member_id_of_updated,	status
		) VALUES (
			#{memberId},		#{title},				#{content},
			now(),				#{ipOfCreated},			now(),
			#{ipOfUpdated},		#{memberId},			#{status}
		);
	</insert>
	
	<update id="updateBoardNotice">
		UPDATE	board_notice
		SET		title=#{title}
		,		content=#{content}
		,		date_of_updated=now()
		,		ip_of_updated=#{ipOfUpdated}
		,		member_id_of_updated=#{memberIdOfUpdated}
		,		status=#{status}
		WHERE	notice_id=#{noticeId};
	</update>
	
	<update id="updateBoardNoticeStatus">
		UPDATE	board_notice
		SET		status=#{status}
		WHERE	notice_id=#{noticeId};
	</update>
	
</mapper>