<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardNoticeMapper">
	
	<select id="listBoardNotice" resultType="BoardNoticeVO">
		SELECT id, views, writer_id, dateOfCreated, title, content
		FROM plare.board_notice;
	</select>
	
	<insert id="insertBoardNotice">
		INSERT INTO plare.board_notice
		(views, writer_id, dateOfCreated, title, content)
		VALUES(0, 0, '', '', '');
	</insert>
	
	<update id="updateBoardNotice">
		UPDATE plare.board_notice
		SET title=#{title}, content=#{content}, date_of_updated=#{dateOfUpdate}, ip_of_updated=#{ipOfUpdate}, member_id_of_updated=#{memberIdOfUpdated}
		WHERE notice_id=#{noticeId};
	</update>
	
</mapper>