<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<select id="findPasswordById" parameterType="String" resultType="String">
		SELECT	password
		FROM	plaredb.member
		WHERE	auth_id=#{authId};
	</select>

	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO plaredb.member (
			auth_id,		password,			name,
			email,			date_of_join,		date_of_last_join,
			steamid
		) VALUES (
			#{authId},		#{password},		#{name},
			#{email},		UNIX_TIMESTAMP(),	UNIX_TIMESTAMP(),
			#{steamid}
		);
	</insert>

	<select id="selectOneMember" parameterType="String" resultType="MemberVO">
		SELECT	auth_id
		,		password
		,		name
		,		email
		,		date_of_join
		,		date_of_last_join
		,		steam_id
		FROM	plaredb.member
		WHERE	auth_id=#{authId};
	</select>

	<select id="checkId" parameterType="String" resultType="int">
		SELECT	count(member_id)
		FROM	plaredb.member
		WHERE	auth_id=#{authId};
	</select>

</mapper>