<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnaMapper">
	
	<select id="listQuestion" resultType="QnaVO">
		SELECT	board_question_id
		,		member_id
		,		title
		,		content
		,		views
		,		date_of_created
		,		ip_of_created
		,		date_of_updated
		,		member_id_of_updated
		,		ip_of_updated
		,		status
		FROM	plare.board_question;
	</select>
	
</mapper>