<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.amel.plare.mapper.RankMapper">
	<select id="selectCredits" resultType="org.amel.plare.vo.GamePlayerVO" parameterType="int">
		select * from store_players order by credits desc limit 0, #{page}
	</select>
	
	
	<select id="pageCount" resultType="int">
	select count(id) from store_players
	</select>
	
</mapper>
  

  